*{
	font-family: 'Montserrat', sans-serif;
	color: white;
	}

body {
	background-color: #7CE558;

}

.conatiner {
	background-color: #20c997;
	margin : 60px 40px;
}

.content {
	background-color: #28a745;
	float: left;
	letter-spacing: 0.07em;
	width: 30%;
	text-align: center;
	margin-left: 12%;
	margin-top: 2%;
	height: 500px;
}

.conatiner-form {
	background-color: #343a40;
	float: left;
	letter-spacing: 0.1em;
	width: 40%;
	margin-top: 2%;
	height: 500px;
}

label{
	margin-left: 13%;
}

input {
	margin-left: 13%;
	margin-top: 1%;
	border: none;
	border-bottom: 1.5px solid #F8ECE9;
	background: transparent;
	min-width:70%;
}

input[type="checkbox"] {
	margin-left: 13%;
	min-width: 0%;
}

ul {
	display: table;
	margin:0 auto;
}

li{
	margin-bottom: 2%;
	text-align: left;
}

button {
	background-color: #28a745;
	border-radius: 12px;
	border: none;
	font-size: 18px;
}